# Tipe Data
Data bisa disebut sebagai inti dari setiap program. Program itu sendiri tidak lain memproses data input untuk menghasilkan data output. Dan untuk bisa memproses itu semua, bahasa pemrograman butuh tipe data.

Mengutip dari wikipedia (Data type):

“A data type or simply type is a classification of data which tells the compiler or interpreter how the programmer intends to use the data”.

Terjemahannya:

“Tipe data atau kadang disingkat dengan ‘tipe’ saja adalah sebuah pengelompokan data untuk memberitahu compiler atau interpreter bagaimana programmer ingin mengolah data tersebut”

#### Secara sederhana, tipe data adalah cara kita memberitahu komputer untuk mengelompokkan data berdasarkan apa yang dipahami oleh komputer.

Sebagai contoh, misalkan saya memiliki data berupa angka. Agar bisa dipahami oleh interpreter bahasa Python, data ini disimpan ke dalam variabel. Nantinya variabel ini akan diproses sesuai dengan tipe data angka, misalnya bisa ditambah, dikurangi, dibagi, dst. Jika ternyata variabel tersebut berisi teks (string), maka operasi penambahan tidak bisa dilakukan. Setiap jenis tipe data akan memiliki sifat dan fitur masing-masing.

Jenis-jenis Tipe Data dalam Bahasa Python
Dalam bahasa pemrograman Python, terdapat 9 tipe data dasar:

1. String
2. Integer
3. Float
4. Complex Number
5. Boolean
6. List
7. Tuple
8. Set
9. Dictionary

# 1. Tipe data: kumpulan karakter (string)

Tipe data string adalah tipe data untuk menampung data teks, seperti “Adisyahadi”, “Indonesia”, atau “Saya sedang belajar bahasa Python”.

Bahasa Python tidak membatasi jumlah karakter yang ada di dalam string, tapi lebih ke batasan maksimum memory. Jika kita menggunakan interpreter Python 32-bit maksimum karakter adalah sekitar 2 atau 3 milyar karakter (2 – 3GB). Jika menggunakan interpreter Python 64-bit, maka maksimum jumlah karakter menjadi sekitar 63 milyar (63GB). Batasan ini sudah lebih dari cukup.

# Cara Pembuatan Tipe Data String Python
Di dalam bahasa Python, terdapat 3 cara untuk membuat tipe data string:

* Menggunakan tanda kutip satu ( ‘ )
* Menggunakan tanda kutip dua ( ” )
* Menggunakan tanda kutip satu atau dua sebanyak 3 kali ( ‘ ‘ ‘ ) atau (” ” “)
#### Note : Cara pertama dan kedua tidak ada perbedaan mendasar dan kita bisa memilih ingin menggunakan yang mana saja.

In [ ]:
a = "Adisyahadi"
print(a)
b = 'Adisyahadi'
print(b)

Adisyahadi
Adisyahadi

Untuk menulis karakter khusus seperti tab atau pindah baris, bisa menggunakan escape character, yakni karakter backslash ( \ ) dan diikuti dengan satu karakter khusus. Sebagai contoh, untuk menulis karakter ‘tab’ bisa dipakai \t, dan untuk membuat karakter new line (pindah baris) bisa menggunakan tanda \n:

In [ ]:
volk = "Teks ini akan dipecah\nke dalam 2 baris"
print(volk)
volk = 'Teks ini\nakan dipecah\tke dalam 3 baris'
print(volk)

Teks ini akan dipecah
ke dalam 2 baris
Teks ini
akan dipecah	ke dalam 3 baris

In [ ]:
data_string = "ucup"
print("data : ", data_string)
print("bertipe : ", type(data_string))

data :  ucup
bertipe :  <class 'str'>

Cara pembuatan string menggunakan 3 kali tanda kutip dipakai untuk membuat multiline string, dimana teks yang diinput bisa tersambung ke beberapa baris

In [ ]:
volk = '''Teks ini
akan dipecah
ke dalam 3 baris
kasaffjkajfkja
kjjjfasfksajfaskjkj
hhhhhhhhh'''
print(volk)

Teks ini
akan dipecah
ke dalam 3 baris
kasaffjkajfkja
kjjjfasfksajfaskjkj
hhhhhhhhh

# Operasi Penyambungan String (string concatenation)
Salah satu operasi yang sering dipakai ke dalam tipe data string adalah proses penyambungan (string concatenation). Di dalam bahasa Python, operasi ini menggunakan karakter tambah ( + ). Berikut contohnya:

In [ ]:
a = '2'
b = "Bahasa Pemrograman Python "
c = "di kelas volkerding"
hasil = a + b + c
print(hasil)

2Bahasa Pemrograman Python di kelas volkerding

------------------------
# 2. Tipe data number
Dalam bahasa Python, tipe data number terdiri dari 3 jenis:

1. Integer (int): Tipe data bilangan bulat, seperti 1, 300, 59000000
2. Float: Tipe data bilangan desimal / pecahan, seperti 0.43, 0.0002, 999.99
3. Complex Number: Tipe data bilangan kompleks atau bilangan imajiner, seperti 5j, 54j, 1j

Dari ketiga tipe data ini, tipe data Complex Number adalah tipe data yang cukup unik dan jarang tersedia di bahasa pemrograman lain.

Dalam teori matematika, complex number atau bilangan kompleks atau bilangan imajiner adalah sebutan untuk angka yang mengandung nilai akar kuadrat dari -1. Angka akar kuadrat dari -1 ini ditulis dalam Python dengan huruf j. Bilangan 5j sama artinya dengan 5√-1

### Cara Penggunaan Tipe Data Number Python
Sama seperti tipe data lain di dalam Python, kita bisa langsung menginput angka-angka ini ke dalam sebuah variabel. Berikut contohnya:

In [ ]:
a = 100
b = 30.23
c = 4j
 
print("ini adalah tipe data :",type(a), a)
print("ini adalah tipe data :",type(b), b)
print("ini adalah tipe data :",type(c), c)

ini adalah tipe data : <class 'int'> 100
ini adalah tipe data : <class 'float'> 30.23
ini adalah tipe data : <class 'complex'> 4j

Untuk memeriksa tipe data dari sebuah variabel, terdapat function type() bawaan Python. Berikut contoh penggunaannya:

In [ ]:
a = 100
b = 30.23
c = 4j
  
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

===============================================================

# Tipe data: biner true/false (boolean)

Tipe data boolean sebenarnya sangat simple. Tipe data ini hanya bisa diisi dengan salah satu dari 2 nilai: True atau False. Tipe data boolean banyak dipakai untuk percabangan kode program atau untuk memutuskan apa yang mesti dijalankan ketika sebuah kondisi terjadi.

----------------------------
Sebagai contoh, kita bisa membuat kode program untuk menentukan apakah sebuah angka genap atau ganjil berdasarkan input dari pengguna. Untuk keperluan ini kita harus mengecek terlebih dahulu apakah angka tersebut bisa dibagi 2 (untuk angka genap), atau tidak bisa dibagi 2 (untuk angka ganjil). Tipe data boolean bisa dipakai untuk menampung kondisi seperti ini, yakni benar atau salah (True atau False).

##### Cara Penggunaan Tipe Data Boolean Python
Sebagaimana yang sudah dijelaskan sebelumnya, tipe data boolean hanya bisa diisi dengan 2 nilai, yakni salah satu dari True atau False. Berikut contoh penulisannya:

In [ ]:
a = True
b = False
  
print(a,"adalah",type(a))
print(b,"adalah",type(a))

True adalah <class 'bool'>
False adalah <class 'bool'>

Yang juga harus diperhatikan adalah penulisan huruf besar atau kecil. Dalam bahasa Python, penulisannya harus persis seperti itu, jika diinput sebagai true atau TRUE, akan menghasilkan error:

In [ ]:
data_bool = False
print("data : ", data_bool)
print("- bertipe : ", type(data_bool))

data :  False
- bertipe :  <class 'bool'>

Selain diinput manual, tipe data boolean lebih sering di dapat sebagai hasil dari operasi perbandingan, seperti apakah suatu angka lebih besar dari angka lainnya, apakah lebih kecil, atau sama dengan. Berikut contoh penggunaan operasi perbandingan ini:

<br>

Sesuai dengan namanya, operator perbandingan digunakan untuk membandingkan dua nilai. Output operator ini adalah nilai boolean. Berikut ini adalah operator perbandingan:

<br>

Operator | Deskripsi
-|-
`<`| Kurang dari
`>`| Lebih dari
`<=`| Kurang dari sama dengan
`>=`| Lebih dari sama dengan
`==`| Sama dengan
`!=`| Tidak sama dengan

<br>

In [ ]:
mobil_1 = 10 != 10
print(mobil_1)
mobil_2 = 12 >= 10
print(mobil_2)

False
True

### Note :
Di baris pertama, saya menyimpan hasil operasi perbandingan 12 < 10 ke dalam variabel foo. Apakah 12 < 10? Salah. Sehingga nilai variabel foo akan berisi boolean False.

# Tipe data List
Secara sederhana, tipe data List adalah sebuah array, yakni tipe data yang berisi kumpulan tipe data lain. Namun berbeda seperti array dalam bahasa pemrograman lain, List bisa diisi dengan berbagai jenis data, tidak harus tipe data yang sama.

Dan sebenarnya tipe data array di Python terdiri dari 4 jenis, yakni List, Tuple, Set dan Dictionary. Ke empat tipe data ini mirip satu sama lain dengan sedikit perbedaan. Kita akan bahas secara rinci dalam tutorial terpisah, yang dimulai dari List terlebih dahulu.

-----------
Cara Pembuatan Tipe Data List Python
Untuk membuat tipe data List, gunakan tanda kurung siku, kemudian setiap anggota list dipisah dengan tanda koma. Berikut contohnya:

In [ ]:
list_1 = ["Belajar", "Python", "di", "Kelas Volkerding"]
list_2 = [100, 200, 300, 400]
list_3 = ["Python", 200, 6.99, True]
  
print("List_1",list_1,"Type data",type(list_1))
print("List_1",list_2,"Type data",type(list_2))
print("List_1",list_3,"Type data",type(list_3))

List_1 ['Belajar', 'Python', 'di', 'Kelas Volkerding'] Type data <class 'list'>
List_1 [100, 200, 300, 400] Type data <class 'list'>
List_1 ['Python', 200, 6.99, True] Type data <class 'list'>

----------
### Cara Mengakses Tipe Data List Python
Untuk mengakses nilai individu dari tipe data list, gunakan penomoran index. Data pertama bernomor index 0, data kedua bernomor index 1, dst. Nomor index ini ditulis di dalam tanda kurung siku:

In [ ]:
Volk = ["Python", 200, 6.99, True, 'Kelas Volkerding', 99j]
  
print(Volk[0])
print(Volk[1])
print(Volk[2])
print(Volk[3])
print(Volk[4])
print(Volk[5])

Python
200
6.99
True
Kelas Volkerding
99j

-------
### Cara Mengganti Nilai Tipe Data List Python
Nilai yang ada di dalam List bisa diganti atau diupdate. Caranya, isikan data baru ke dalam nomor index seperti contoh berikut:

In [ ]:
volk = ["Python", 200, 6.99, True, 'kelas volkerding', 99j]
print(volk)
  
volk[0] = 'Belajar'
volk[3] = False
print(volk)

['Python', 200, 6.99, True, 'kelas volkerding', 99j]
['Belajar', 200, 6.99, False, 'kelas volkerding', 99j]

------
### Menampilkan Sebagian Anggota List
Pilihan lain, Python menyediakan cara untuk menampilkan beberapa anggota List sekaligus. Berikut prakteknya:

In [ ]:
Film_list = ["Dilan 1991","Ada Apa Dengan Cinta 2","Warkop DKI Reborn","KKN Desa Penari","Story of Kale","Nanti Kita Ceritakan Hari ini","Dua Dunia"]
print(Film_list[2:5]) #tampilkan isi variabel volk mulai dari index ke 2 hingga index ke 4 (index ke 5 tidak ikut dalam hitungan).
print(Film_list[:3]) #tampilkan isi variabel volk mulai dari awal hingga index ke 2 (index ke 3 tidak ikut dalam hitungan).
print(Film_list[3:]) #tampilkan isi variabel volk mulai dari index ke 3 hingga terakhir.
print(Film_list[:]) #tampilkan semua isi variabel volk

['Warkop DKI Reborn', 'KKN Desa Penari', 'Story of Kale']
['Dilan 1991', 'Ada Apa Dengan Cinta 2', 'Warkop DKI Reborn']
['KKN Desa Penari', 'Story of Kale', 'Nanti Kita Ceritakan Hari ini', 'Dua Dunia']
['Dilan 1991', 'Ada Apa Dengan Cinta 2', 'Warkop DKI Reborn', 'KKN Desa Penari', 'Story of Kale', 'Nanti Kita Ceritakan Hari ini', 'Dua Dunia']

===========================================
# Tipe Data Tuple Python
Tipe data Tuple sangat mirip seperti tipe data List yang sudah kita pelajari sebelumnya, dimana tipe data Tuple juga terdiri dari kumpulan tipe data lain. Bedanya, anggota di dalam tipe data Tuple tidak bisa diubah setelah di deklarasikan. Kita akan bahas perbedaan ini menggunakan contoh kode program.

### Cara Pembuatan Tipe Data Tuple Python
Untuk membuat tipe data Tuple, gunakan tanda kurung biasa, kemudian setiap anggota list dipisah dengan tanda koma. Berikut contohnya:

In [ ]:
volk = ("Belajar", "Python", "di", "kelas volkerding")
ker = (100, 200, 300, 400)
ding = ("Python", 200, 6.99, True)
  
print(volk)
print(ker)
print(ding)

('Belajar', 'Python', 'di', 'kelas volkerding')
(100, 200, 300, 400)
('Python', 200, 6.99, True)

Nyaris tidak berbeda dengan List. Namun tipe data Tuple dibuat menggunakan tanda kurung bulat, bukan tanda kurung siku sebagaimana List.
### Berikut pembuktiannya:

In [ ]:
volk_1 = ["Belajar", "Python", "di", "kelas volkerding"]
print("Type data volk_1 adalah :",type(volk_1))
volk_2 = ("Belajar", "Python", "di", "kelas volkerding")
print("Type data volk_2 adalah :",type(volk_2))

Type data volk_1 adalah : <class 'list'>
Type data volk_2 adalah : <class 'tuple'>

### Cara Mengakses Tipe Data Tuple Python
Cara mengakses tipe data Tuple tidak berbeda dengan tipe data List, dimana kita menulis nomor urut index dalam tanda kurung siku:

In [ ]:
volk = ("Python", 200, 6.99, True, 'colkerding', 99j)
  
print('akses ke_1',volk[0])
print('akses ke_2',volk[1])
print('akses ke_3',volk[2])
print('akses ke_4',volk[2:5])
print('akses ke_5',volk[:3])
print('akses ke_6',volk[3:])
print('akses ke_7',volk[:])

akses ke_1 Python
akses ke_2 200
akses ke_3 6.99
akses ke_4 (6.99, True, 'colkerding')
akses ke_5 ('Python', 200, 6.99)
akses ke_6 (True, 'colkerding', 99j)
akses ke_7 ('Python', 200, 6.99, True, 'colkerding', 99j)

### Cara Mengganti Nilai Tipe Data Tuple Python
Seperti yang dijelaskan sebelumnya, anggota dari tipe data Tuple tidak bisa diubah atau diganti setelah di definisikan. Benarkah demikian? mari kita coba:

In [ ]:
volk = ("Python", 200, 6.99, True, 'volkerding', 99j)
volk[0] = 'Belajar'
print(volk)

TypeError: 'tuple' object does not support item assignment

Hasilnya terjadi error dengan pesan: ‘tuple’ object does not support item assignment, yang kurang lebih berarti: “Tuple tidak mendukung penambahan nilai baru“. Inilah pembeda antara tipe data Tuple dengan tipe data List.

===========================================
# Tipe Data Set Python
Tipe data Set Python adalah tipe data yang berisi kumpulan tipe data dan dipakai untuk mengolah himpunan (set). Jika dibandingkan dengan tipe data berbentuk array lain di Python, tipe data set berbeda dalam hal index, pengurutan dan keunikan nilai (unique value).

Tipe data set tidak memiliki index, sehingga tidak ada mekanisme pengurutan. Maksudnya, ketika kita menginput beberapa nilai ke dalam tipe data set, posisi nilai tersebut bisa berada di mana saja, tidak persis seperti apa yang tertulis. Akibat tidak memiliki index, maka kita tidak bisa menambah nilai baru ke dalam tipe data set dengan cara menulis nomor index (seperti di dalam tipe data list)

Ciri khas selanjutnya dari tipe data set adalah tidak bisa menerima nilai ganda, setiap nilai di dalam set harus unik. Jika kita menginput beberapa nilai yang sama, hanya satu yang tersimpan di dalam set.

### Cara Pembuatan Tipe Data Set Python
Untuk membuat tipe data set, gunakan tanda kurung kurawal, kemudian setiap anggota set dipisah dengan tanda koma. Berikut contohnya:

In [ ]:
volk = {"Belajar", "Python", "di", "kelas vokerding"}
ker = {100, 200, 300, 400}
ding = {"Python", 200, 6.99, True}
 
print(volk)
print(ker)
print(ding)

{'Python', 'di', 'kelas vokerding', 'Belajar'}
{200, 100, 400, 300}
{'Python', True, 6.99, 200}

Perhatikan urutan data yang tampil, hampir semuanya tidak terurut sesuai penulisan. Ini karena di dalam tipe data set setiap anggota atau element tidak memiliki index sehingga posisinya tidak bisa dipastikan

In [ ]:
volk = {"Belajar", "Python", "di", "kelas vokerding"}
ker = [100, 200, 300, 400]
ding = ("Python", 200, 6.99, True)
 
print(volk," tipe data :",type(volk))
print(ker," tipe data :",type(ker))
print(ding," tipe data :",type(ding))

{'Python', 'di', 'kelas vokerding', 'Belajar'}  tipe data : <class 'set'>
[100, 200, 300, 400]  tipe data : <class 'list'>
('Python', 200, 6.99, True)  tipe data : <class 'tuple'>

### Sifat Tipe Data Set Python
Seperti yang dibahas pada bagian pengertian, sifat dari tipe data set adalah tidak ber-index dan hanya bisa menerima anggota dengan nilai yang berbeda (unique value). Mari lihat dengan contoh kode program:

In [ ]:
volk = {"Belajar", "Python", "di", "kelas volkerding", "di"}
ker = {100, 200, 300, 400, 200, 300}
 
print(volk)
print(ker)

{'Python', 'di', 'Belajar', 'kelas volkerding'}
{200, 100, 400, 300}

Untuk variabel volk saya menginput string “di” sebanyak 2 kali namun yang masuk hanya 1 buah. Begitu pula untuk variabel ker yang saya input dua kali nilai 200 dan 300 (total 6 element). Namun yang ditampung hanya 4 element saja dimana angka 200 dan 300 muncul hanya 1 kali. Selain itu tidak ada urutan yang pasti dari tipe data set.

### Bagaimana jika kita tetap mengakses anggota set menggunakan index?

In [ ]:
volk = {"Belajar", "Python", "di", "volkerding", "di"}
 
print(volk[1])

TypeError: 'set' object is not subscriptable

### Yup, terjadi error karena tipe data set memang tidak memiliki index

============================================================
# Tipe Data Dictionary Python
Tipe data dictionary adalah tipe data array dimana key atau index dari array bisa berbentuk string, tidak hanya number saja. Dalam bahasa pemrograman lain (seperti PHP) dictionary ini dikenal juga dengan sebutan associative array.

Berikut format dasar penulisan dictionary dalam bahasa Python:

nama_variabel = { "key1": "value1", "key2": "value2", "key3": "value3" }

Tipe data dictionary ini cocok dipakai untuk kelompok data yang kompleks (terdiri dari banyak element)

### Cara Pembuatan Tipe Data Dictionary Python
Dalam pembuatan dictionary, kita menggunakan tanda kurung kurawal { dan } . Selain itu setiap element merupakan pasangan dari key dan value. Antar satu element dengan element lain dipisah dengan tanda koma seperti contoh berikut:

In [ ]:
volk = { 1: "Belajar", 2: "Python", 3: "di kelas volkerding" }
ker = { "mengapa": "Belajar", "apa": "Python", "dimana": "di kelas volkerding" }
ding = { 1: "Belajar", "apa": "Python", "dimana": "di kelas volkerding" }
 
print(volk,"Type Data :",type(volk))
print(ker,"Type Data :",type(ker))
print(ding,"Type Data :",type(ding))

{1: 'Belajar', 2: 'Python', 3: 'di kelas volkerding'} Type Data : <class 'dict'>
{'mengapa': 'Belajar', 'apa': 'Python', 'dimana': 'di kelas volkerding'} Type Data : <class 'dict'>
{1: 'Belajar', 'apa': 'Python', 'dimana': 'di kelas volkerding'} Type Data : <class 'dict'>

##### Nilai atau value dari setiap element dictionary bisa terdiri dari berbagai tipe data:

In [ ]:
volk = { 1: "Belajar", 
        2: ["Pascal", "C", "Python"],
        "website": "volkerding",
        "menyerah" : False,
        "target": 2020,
        "riwayat_sekolah": {
          "SD": "SDN 3 Hijau Daun",
          "SMP": "SMP 7 Hijau Lumut",
          "SMA": "SMA 8 Hijau Rumput"}
      }
       
print(volk)

{1: 'Belajar', 2: ['Pascal', 'C', 'Python'], 'website': 'volkerding', 'menyerah': False, 'target': 2020, 'riwayat_sekolah': {'SD': 'SDN 3 Hijau Daun', 'SMP': 'SMP 7 Hijau Lumut', 'SMA': 'SMA 8 Hijau Rumput'}}

Sekarang variabel volk saya isi dengan 6 element dictionary dengan tipe data yang berbeda-beda, mulai dari string, boolean, number, list, hingga dictionary lain.

### Cara Mengakses Element Dictionary Python
Untuk menampilkan satu element yang ada di dalam dictionary, tulis key atau index yang ingin diakses dalam kurung siku:

In [ ]:
volk = { "kegiatan": "Belajar Python",
        "website": "vokerding",
        "hasil": "Yakin bisa!" }
 
print(volk["kegiatan"])

Belajar Python

### Cara Mengubah Element Dictionary Python
Setelah di deklarasikan, kita bisa mengubah nilai dari sebuah element dictionary. Caranya mirip seperti tipe data list, yakni mengisi nilai ke dalam key atau index dictionary:

In [ ]:
volk = { "kegiatan": "Belajar Python",
        "website": "volkerding",
        "hasil": "Yakin bisa!" }
 
volk["kegiatan"] = "Belajar Bahasa Pemrograman"
print(volk)

{'kegiatan': 'Belajar Bahasa Pemrograman', 'website': 'volkerding', 'hasil': 'Yakin bisa!'}

### Cara Menambah Element Dictionary Python
Untuk menambah element baru ke dalam dictionary, bisa dilakukan dengan cara mengisi nilai ke sebuah key baru:

In [ ]:
volk = { "kegiatan": "Belajar Python",
        "website": "volkerding",
        "hasil": "Yakin bisa!" }
 
volk["target"] = 2020
print(volk)

{'kegiatan': 'Belajar Python', 'website': 'volkerding', 'hasil': 'Yakin bisa!', 'target': 2020}

### Cara Menghapus Element Dictionary Python
Untuk menghapus element dari sebuah dictionary, bsia menggunakan perintah del. Berikut contohnya:

In [ ]:
volk = { "kegiatan": "Belajar Python",
        "website": "volkerding",
        "hasil": "Yakin bisa!" }
 
del volk["kegiatan"]
print(volk)

{'website': 'volkerding', 'hasil': 'Yakin bisa!'}